<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Панель администратора</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
<!--          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</head>

<body>
<!---------------------------------------------------------------------------------------------Панель навигации----------------------------------------------------------------------------->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <ul class="navbar-nav mr-auto">
        <div class="navbar-text">
            <text class="text-navbar" style="color:white;"
               th:text="${current_user.getUsername().toUpperCase()} + ' с ролями ' + ${userRoles}"></text>
        </div>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item">
            <form class="form" action="/logout" method="post">
                <!--                <input type="hidden" name="_csrf" value="${_csrf.token}"/>-->
                <!--                <a href="#" class="btn btn-dark navbar-left" type="submit">Разлогиньтесь</a>-->
                <a href="#" class="nav-link" type="submit">Разлогиньтесь</a>
            </form>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <!---------------------------------------------------------------------------------------------Начало ереси----------------------------------------------------------------------------->
    <div class="row mt">

        <!---------------------------------------------------------------------------------------------Вкладки общей навигации слева----------------------------------------------------------------------------->

        <div class="col-2 mt-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">Администратор</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">Пользователь</a>
            </div>
        </div>
        <!---------------------------------------------------------------------------------------------Окна, соответствующие вкладкам общей навигации справа----------------------------------------------------------------------------->
        <div class="col-10" style="background-color: aliceblue">
            <div class="tab-content" id="v-pills-tabContent">

                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <h1>Панель администратора</h1>
                    <!---------------------------------------------------------------------------------------------Вкладки навигации действий админа----------------------------------------------------------------------------->
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-users-tab" data-toggle="tab" href="#nav-users"
                               role="tab" aria-controls="nav-users" aria-selected="true">
                                Пользователи
                            </a>
                            <a class="nav-item nav-link" id="nav-adduser-tab" data-toggle="tab" href="#nav-adduser"
                               role="tab" aria-controls="nav-adduser" aria-selected="false">
                                Добавить пользователя

                            </a>
                        </div>
                    </nav>
                    <!----------------------------------------------------------------------------------Окна, соответствующие вкладкам навигации действий админа----------------------------------------------------------------------------->
                    <div class="tab-content" id="nav-tabContent">
                        <!----------------------------------------------------------------------------------Таблица с пользователями----------------------------------------------------------------------------->
                        <div class="tab-pane active" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab">

                            <div class="card" style="width: 95%">
                                <div class="card-header">
                                    Все пользователи
                                </div>
                                <div class="card-body">
                                    <div class="container-flex">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">НИК</th>
                                                <th scope="col">ИМЯ</th>
                                                <th scope="col">ФАМИЛИЯ</th>
                                                <th scope="col">ВОЗРАСТ</th>
                                                <th scope="col">ПОЧТА</th>
                                                <th scope="col">РОЛИ</th>
                                                <th scope="col">ИЗМЕНИТЬ</th>
                                                <th scope="col">УДАЛИТЬ</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="user : ${allUsers}">
                                                <td th:text="${user.getId()}"></td>
                                                <td th:text="${user.getUsername()}"></td>
                                                <td th:text="${user.getFirstName()}"></td>
                                                <td th:text="${user.getSurName()}"></td>
                                                <td th:text="${user.getAge()}"></td>
                                                <td th:text="${user.getEmail()}"></td>
                                                <td th:text="${user.getRoles()}"></td>

                                                <td>
                                                    <a class="btn btn-info"
                                                       th:href="@{/admin/updateUserInfo/{id}(id=${user.getId()})}"
                                                       data-toggle="modal" data-target="#editModal"
                                                       th:attrappend="data-target=${current_user.getUsername()}">
                                                        Обновить</a>
                                                </td>

                                                <!---------------------------------------------------------- Модальное окно редактирования пользователя----------------------------------------------------------------------------->
                                                <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
                                                     aria-labelledby="editModalLabel"
                                                     th:attrappend="id=${current_user.getUsername()}"
                                                     aria-hidden="true">

                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="editModalLabel">Редактировать
                                                                    пользователя</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="container" th:object="${current_user}">

                                                                    <form th:action="@{/admin/updateUserInfo/__${current_user.id}__}"
                                                                          th:method="post" th:object="${current_user}">

                                                                        <div class="form-group" th:object="${current_user}" style="text-align: center; vertical-align: middle">
                                                                            <label><strong>ID</strong></label>
                                                                            <input
                                                                                    th:class="'form-control'"
                                                                                    type="text" name="id" id="update_id"
                                                                                    th:value="${current_user.getId()}"
                                                                                    readonly>

                                                                        </div>

                                                                        <div class="form-group" th:object="${current_user}" style="text-align: center; vertical-align: middle">
                                                                            <label for="username"><strong>Логин</strong></label>
                                                                            <input type="text" th:field="*{username}"
                                                                                   th:class="${#fields.hasErrors('username')} ? 'form-control is-invalid' : 'form-control'"
                                                                                   th:value="(${current_user.getUsername()} == null) ? '' : ${current_user.getUsername()}"
                                                                                   placeholder="Введите логин пользователя">
                                                                            <p th:if="${#fields.hasErrors('username')}">
                                                                            <div class="invalid-feedback">
                                                                                <p th:text="${{#fields.errors('username')}}">
                                                                            </div>
                                                                            </p>
                                                                        </div>

                                                                        <div class="form-group" th:object="${current_user}" style="text-align: center; vertical-align: middle">
                                                                            <label><strong>Пароль</strong></label>
                                                                            <input type="password" th:field="*{password}"
                                                                                   th:required="false"
                                                                                   th:class="${#fields.hasErrors('password')} ? 'form-control is-invalid' : 'form-control'"
                                                                                   th:value="(${current_user.getPassword()} == null) ? '' : ${current_user.getPassword()}"
                                                                                   placeholder="Введите пароль пользователя">
                                                                            <p th:if="${#fields.hasErrors('password')}">
                                                                            <div class="invalid-feedback">
                                                                                <p th:text="${{#fields.errors('password')}}">
                                                                            </div>
                                                                            </p>
                                                                        </div>

                                                                        <div class="form-group" th:object="${current_user}" style="text-align: center; vertical-align: middle">
                                                                            <label><strong>Имя</strong></label>
                                                                            <input type="text" th:field="*{firstName}"
                                                                                   th:class="${#fields.hasErrors('firstName')} ? 'form-control is-invalid' : 'form-control'"
                                                                                   th:value="(${current_user.getFirstName()} == null) ? '' : ${current_user.getFirstName()}"
                                                                                   placeholder="Введите имя пользователя">
                                                                            <p th:if="${#fields.hasErrors('firstName')}">
                                                                            <div class="invalid-feedback">
                                                                                <p th:text="${{#fields.errors('firstName')}}">
                                                                            </div>
                                                                            </p>
                                                                        </div>

                                                                        <div class="form-group" th:object="${current_user}" style="text-align: center; vertical-align: middle">
                                                                            <label><strong>Фамилия</strong></label>
                                                                            <input type="text" th:field="*{surName}"
                                                                                   th:class="${#fields.hasErrors('surName')} ? 'form-control is-invalid' : 'form-control'"
                                                                                   th:value="(${current_user.getSurName()} == null) ? '' : ${current_user.getSurName()}"
                                                                                   placeholder="Введите фамилию пользователя">
                                                                            <p th:if="${#fields.hasErrors('surName')}">
                                                                            <div class="invalid-feedback">
                                                                                <p th:text="${{#fields.errors('surName')}}">
                                                                            </div>
                                                                            </p>
                                                                        </div>

                                                                        <div class="form-group" th:object="${current_user}" style="text-align: center; vertical-align: middle">
                                                                            <label><strong>Возраст</strong></label>
                                                                            <input type="text" th:field="*{age}"
                                                                                   th:class="${#fields.hasErrors('age')} ? 'form-control is-invalid' : 'form-control'"
                                                                                   th:value="(${current_user.getAge()} == null) ? '' : ${current_user.getAge()}"
                                                                                   placeholder="Введите возраст пользователя">
                                                                            <p th:if="${#fields.hasErrors('age')}">
                                                                            <div class="invalid-feedback">
                                                                                <p th:text="${{#fields.errors('age')}}">
                                                                            </div>
                                                                            </p>
                                                                        </div>

                                                                        <div class="form-group" th:object="${current_user}" style="text-align: center; vertical-align: middle">
                                                                            <label><strong>Почта</strong></label>
                                                                            <input type="text" th:field="*{email}"
                                                                                   th:class="${#fields.hasErrors('email')} ? 'form-control is-invalid' : 'form-control'"
                                                                                   th:value="(${current_user.getEmail()} == null) ? '' : ${current_user.getEmail()}"
                                                                                   placeholder="Введите почту пользователя">
                                                                            <p th:if="${#fields.hasErrors('email')}">
                                                                            <div class="invalid-feedback">
                                                                                <p th:text="${{#fields.errors('email')}}">
                                                                            </div>
                                                                            </p>
                                                                        </div>

                                                                        <div class="form-group" style="text-align: center; vertical-align: middle">
                                                                            <label><strong>Выберите роли:</strong></label>
                                                                            <select class="form-control"
                                                                                    multiple="multiple"
                                                                                    th:field="*{roles}">
                                                                                <option th:each="role : ${roles}"
                                                                                        th:value="${role.getId()}"
                                                                                        th:text="${role.getAuthority()}">
                                                                                </option>
<!--                                                                                <option th:each="i : ${#numbers.sequence(0, *{roles.size()})}" th:text="${roles.get(i)}"></option>-->
                                                                            </select>
                                                                        </div>


                                                                    </form>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">Закрыть
                                                                    </button>
                                                                    <button type="button" class="btn btn-primary">
                                                                        Редактировать
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <td>
                                                    <a class="btn btn-danger"
                                                       th:href="@{/admin/deleteUserById/{id}(id=${user.getId()})}"
                                                       data-toggle="modal" data-target="#deleteModal"
                                                       th:attrappend="data-target=${current_user.getUsername()}">
                                                        Удалить</a>
                                                </td>
                                                <!---------------------------------------------------------- Модальное окно удаления пользователя----------------------------------------------------------------------------->
                                                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
                                                     aria-labelledby="deleteModalLabel"
                                                     th:attrappend="id=${current_user.getUsername()}"
                                                     aria-hidden="true">

                                                    <div class="modal-dialog" role="form">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="deleteModalLabel">Удалить
                                                                    пользователя</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="container" th:object="${current_user}">

                                                                    <form th:object="${current_user}" th:method="post"
                                                                          th:action="@{admin/deleteUserById/__${current_user.id}__}">

                                                                        <div class="form-group" th:object="${user}" style="text-align: center; vertical-align: middle">
                                                                            <label><strong>ID</strong></label>
                                                                            <input
                                                                                   th:class="'form-control'"
                                                                                   type="text" name="id"
                                                                                   th:value="${current_user.getId()}"
                                                                                   readonly>

                                                                        </div>

                                                                        <div class="form-group" th:object="${current_user}" style="text-align: center; vertical-align: middle">
                                                                            <label for="username"><strong>Логин</strong></label>
                                                                            <input type="text" th:field="*{username}"

                                                                                   th:class="'form-control'"
                                                                                   th:value="${current_user.getUsername()}"
                                                                                   readonly>
                                                                        </div>


                                                                        <div class="form-group" th:object="${current_user}" style="text-align: center; vertical-align: middle">
                                                                            <label><strong>Имя</strong></label>
                                                                            <input type="text" th:field="*{firstName}"
                                                                                   th:class="'form-control'"
                                                                                   th:value="${current_user.getFirstName()}"
                                                                                   readonly>
                                                                        </div>

                                                                        <div class="form-group" th:object="${current_user}" style="text-align: center; vertical-align: middle">
                                                                            <label><strong>Фамилия</strong></label>
                                                                            <input type="text" th:field="*{surName}"
                                                                                   th:class="'form-control'"
                                                                                   th:value="${current_user.getSurName()}"
                                                                                   readonly>
                                                                        </div>

                                                                        <div class="form-group" th:object="${current_user}" style="text-align: center; vertical-align: middle">
                                                                            <label><strong>Возраст</strong></label>
                                                                            <input type="text" th:field="*{age}"
                                                                                   th:class="'form-control'"
                                                                                   th:value="${current_user.getAge()}"
                                                                                   readonly>
                                                                        </div>

                                                                        <div class="form-group" th:object="${current_user}" style="text-align: center; vertical-align: middle">
                                                                            <label><strong>Почта</strong></label>
                                                                            <input type="text" th:field="*{email}"
                                                                                   th:class="'form-control'"
                                                                                   th:value="${current_user.getEmail()}"
                                                                                   placeholder="Введите почту пользователя"
                                                                                   readonly>
                                                                        </div>

                                                                        <div class="form-group" style="text-align: center; vertical-align: middle">
                                                                            <label><strong>Выберите роли:</strong></label>
                                                                            <select class="form-control"
                                                                                    multiple="multiple"
                                                                                    th:field="*{roles}"
                                                                                    th:readonly="readonly">
                                                                                <option th:each="role : ${roles}"
                                                                                        th:value="${role.getId()}"
                                                                                        th:text="${role.getAuthority()}">
                                                                                </option>
                                                                                <!--                                                                                <option th:each="i : ${#numbers.sequence(0, *{roles.size()})}" th:text="${roles.get(i)}"></option>-->
                                                                            </select>
                                                                        </div>

<!--                                                                        <select class="custom-select" multiple th:field="*{roles}">-->
<!--                                                                            <option th:each="i : ${#numbers.sequence(0, *{roles.size()})}" th:text="${i}"></option>-->
<!--                                                                        </select>-->

                                                                    </form>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">Закрыть
                                                                    </button>
                                                                    <button type="button" class="btn btn-danger">
                                                                        Удалить
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!----------------------------------------------------------------------------------Добавление нового пользователя----------------------------------------------------------------------------->
                        <div class="tab-pane" id="nav-adduser" role="tabpanel">
                            <div class="card" style="width: 95%;">
                                <div class="card-header">
                                    Добавить нового пользователя
                                </div>
                                <div class="car-body mx-auto">
                                    <div class="container" th:object="${current_user}">

                                        <form th:action="@{/admin/saveUser}"
                                              th:method="post" th:object="${current_user}">

                                            <div class="form-group" th:object="${current_user}" style="text-align: center; vertical-align: middle">
                                                <label for="username"><strong>Логин</strong></label>
                                                <input type="text" th:field="*{username}"
                                                       th:class="${#fields.hasErrors('username')} ? 'form-control is-invalid' : 'form-control'"
                                                       th:value="(${current_user.getUsername()} == null) ? '' : ${current_user.getUsername()}"
                                                       placeholder="Введите логин пользователя">
                                                <p th:if="${#fields.hasErrors('username')}">
                                                <div class="invalid-feedback">
                                                    <p th:text="${{#fields.errors('username')}}">
                                                </div>
                                                </p>
                                            </div>

                                            <div class="form-group" th:object="${current_user}" style="text-align: center; vertical-align: middle">
                                                <label><strong>Пароль</strong></label>
                                                <input type="password" th:field="*{password}"
                                                       th:required="false"
                                                       th:class="${#fields.hasErrors('password')} ? 'form-control is-invalid' : 'form-control'"
                                                       th:value="(${current_user.getPassword()} == null) ? '' : ${current_user.getPassword()}"
                                                       placeholder="Введите пароль пользователя">
                                                <p th:if="${#fields.hasErrors('password')}">
                                                <div class="invalid-feedback">
                                                    <p th:text="${{#fields.errors('password')}}">
                                                </div>
                                                </p>
                                            </div>

                                            <div class="form-group" th:object="${current_user}" style="text-align: center; vertical-align: middle">
                                                <label><strong>Имя</strong></label>
                                                <input type="text" th:field="*{firstName}"
                                                       th:class="${#fields.hasErrors('firstName')} ? 'form-control is-invalid' : 'form-control'"
                                                       th:value="(${current_user.getFirstName()} == null) ? '' : ${current_user.getFirstName()}"
                                                       placeholder="Введите имя пользователя">
                                                <p th:if="${#fields.hasErrors('firstName')}">
                                                <div class="invalid-feedback">
                                                    <p th:text="${{#fields.errors('firstName')}}">
                                                </div>
                                                </p>
                                            </div>

                                            <div class="form-group" th:object="${current_user}" style="text-align: center; vertical-align: middle">
                                                <label><strong>Фамилия</strong></label>
                                                <input type="text" th:field="*{surName}"
                                                       th:class="${#fields.hasErrors('surName')} ? 'form-control is-invalid' : 'form-control'"
                                                       th:value="(${current_user.getSurName()} == null) ? '' : ${current_user.getSurName()}"
                                                       placeholder="Введите фамилию пользователя">
                                                <p th:if="${#fields.hasErrors('surName')}">
                                                <div class="invalid-feedback">
                                                    <p th:text="${{#fields.errors('surName')}}">
                                                </div>
                                                </p>
                                            </div>

                                            <div class="form-group" th:object="${current_user}" style="text-align: center; vertical-align: middle">
                                                <label><strong>Возраст</strong></label>
                                                <input type="text" th:field="*{age}"
                                                       th:class="${#fields.hasErrors('age')} ? 'form-control is-invalid' : 'form-control'"
                                                       th:value="(${current_user.getAge()} == null) ? '' : ${current_user.getAge()}"
                                                       placeholder="Введите возраст пользователя">
                                                <p th:if="${#fields.hasErrors('age')}">
                                                <div class="invalid-feedback">
                                                    <p th:text="${{#fields.errors('age')}}">
                                                </div>
                                                </p>
                                            </div>

                                            <div class="form-group" th:object="${current_user}" style="text-align: center; vertical-align: middle">
                                                <label><strong>Почта</strong></label>
                                                <input type="text" th:field="*{email}"
                                                       th:class="${#fields.hasErrors('email')} ? 'form-control is-invalid' : 'form-control'"
                                                       th:value="(${current_user.getEmail()} == null) ? '' : ${current_user.getEmail()}"
                                                       placeholder="Введите почту пользователя">
                                                <p th:if="${#fields.hasErrors('email')}">
                                                <div class="invalid-feedback">
                                                    <p th:text="${{#fields.errors('email')}}">
                                                </div>
                                                </p>
                                            </div>

                                            <div class="form-group" style="text-align: center; vertical-align: middle">
                                                <label><strong>Выберите роли:</strong></label>
                                                <select class="form-control"
                                                        multiple="multiple"
                                                        th:field="*{roles}">
                                                    <option th:each="role : ${roles}"
                                                            th:value="${role.getId()}"
                                                            th:text="${role.getAuthority()}">
                                                    </option>
                                                    <!--                                                                                <option th:each="i : ${#numbers.sequence(0, *{roles.size()})}" th:text="${roles.get(i)}"></option>-->
                                                </select>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <h1>Страница с информацией о пользователе</h1>
                    <div class="card" style="width: 95%">
                        <div class="card-header">
                            О пользователе
                        </div>
                        <div class="card-body">
                            <div class="container-flex">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">НИК</th>
                                        <th scope="col">ИМЯ</th>
                                        <th scope="col">ФАМИЛИЯ</th>
                                        <th scope="col">ВОЗРАСТ</th>
                                        <th scope="col">ПОЧТА</th>
                                        <th scope="col">РОЛИ</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td th:utext="${user.getId()}"></td>
                                        <td th:utext="${user.getUsername()}"></td>
                                        <td th:utext="${user.getFirstName()}"></td>
                                        <td th:utext="${user.getSurName()}"></td>
                                        <td th:utext="${user.getAge()}"></td>
                                        <td th:utext="${user.getEmail()}"></td>
                                        <td th:utext="${user.getRoles()}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"-->
<!--            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">-->
<!--    </script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"-->
<!--            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">-->
<!--    </script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"-->
<!--            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">-->
<!--    </script>-->
</body>
</html>