<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"

xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!--      xmlns:sec="http://www.w3.org/1999/xhtml">-->
<head>
    <meta charset="UTF-8">
    <title>Здравствуйте</title>

    <meta name="viewport" charset="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>

    <h3 class="ml-4 mt-4"><i>"Оставь надежду всяк сюда входящий..."</i></h3>

    <button class="btn btn-secondary ml-4 mt-2" type="submit"
            onclick="window.location.href='/home'">На главную страницу
    </button>

    <button sec:authorize="#authentication.isAuthenticated()" class="btn btn-secondary ml-2 mt-2" type="submit"
            onclick="window.location.href='/registration'">Зарегистрируйтесь!
    </button>

</body>
</html>